[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
flask-cors = "*"
flask-restful = "*"
flask-smorest = "*"
apscheduler = "*"
celery = "*"
tenacity = "*"
requests = "*"
pika = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
pymysql = "*"
opencv-python-headless = "*"
python-ldap = "*"
pdf2image = "*"
pypdf2 = "*"
#pymupdf = "*"
redis = "*"
webargs = "*"
flask-script = "*"
flask-migrate = "==2.5.3"
jinja2 = "*"
flask = "*"

[dev-packages]
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.9"
